env:
  global:
    - CODECOV_ELIGIBLE=true

matrix:
  include:
    - os: linux
      dist: bionic
      sudo: required
     - os: osx
      osx_image: xcode11
      sudo: required

before_install:
  - git clone https://github.com/IBM-Swift/Package-Builder.git

script:
  - ./Package-Builder/build-package.sh -projectDir $TRAVIS_BUILD_DIR